@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Fira Code", monospace;
  background-color: #1d1f21;
  color: #c9cacc;

  font-size: 1rem;
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

::selection {
  background: transparent; /* Цвет фона */
  color: #fff; /* Цвет текста */
}
